@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo_gradient {
  background-image: linear-gradient(to right, #845ec2, #1d87a4);
  color: transparent;
  background-clip: text;
  animation: logo_movement 4s infinite linear;
}

.bg_overlay{
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 25;
}

.layout{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.nav{
  width: 100%;
  height: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex{
  display: flex;
  align-items: center;
}

.width{
  width: calc(100% - 300px);
  /* width: 100%; */
}

@media screen and (max-width: 767px) {
  .width{
    width: 100%;
  }
}